root = true

# Unix-style newlines with a newline ending every file, utf-8
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8

# Indent JS with 2 spaces
[**.js]
indent_style = space
indent_size = 2
